@page "/Abp/DynamicMenu"
@using Microsoft.Extensions.Localization
@using global::Syrna.Abp.DynamicMenu.Localization
@inject IStringLocalizer<DynamicMenuResource> L
@{
}
<h1>DynamicMenu</h1>
<p>@L["SamplePageMessage"]</p>